{% extends 'nagasakiben/base.html' %}

{% block main %}
<main>
  <h1>{% block title %}このサイトについて{% endblock %}</h1>
  <p>{% block description %}このサイト『ながさきべん』は、フロンティアアカデミーの「AIアプリ制作科」(期間：6ヶ月)の卒業制作として作られました。{% endblock %}</p>
  <p>どなたでも加筆・編集・コメントができるようになっていますので、お気軽に触ってみてください。</p>
  <h2>制作概要</h2>
  <p>このサイトのベースとなっているのは、Djangogirls「<a href="https://tutorial.djangogirls.org/ja/">Django Girls のチュートリアル</a>」を写経するとできあがるブログアプリです。</p>

  <p>このサイトを作るために使用されたツールは、下記のとおりです。</p>
  <ul>
    <li>Python (プログラミング言語)</li>
    <li>Django（Webアプリケーションフレームワーク）</li>
    <li>SQLite（データベース）</li>
    <li>Git（バージョン管理システム）</li>
    <li>GitHub（ソースコードホスティングサービス）</li>
    <li>PythonAnywhere（Python用のクラウドサーバー）</li>
    <li>Googlefonts (ウェブフォント)</li>
    <li>Google Material Icons（アイコンフォント）</li>
    <li>HTML5（ウェブ言語）</li>
    <li>CSS3（スタイルシート）</li>
  </ul>

  <h2>「AIアプリ制作科」のカリキュラム</h2>
  <p>ウェブ制作未経験者向けのコースで、授業は、HTML/CSSからスタートしました。</p>
  <ul>
    <li>HTML5</li>
    <li>CSS3</li>
    <li>jQuery</li>
    <li>ウェブデザイン検定対策</li>
  </ul>
  <p>新しい知識が次々に押し寄せてくるのに加え、jQueryの括弧の多さにめげました。</p>
  <p>jQueryをなんとか凌ぎきったら、プログラミングの学習が始まりました。</p>
  <ul>
    <li>Python</li>
    <li>Pythonを使った機械学習</li>
    <li>Pythonを使ったスクレイピング</li>
    <li>PythonをつかったAIアプリ</li>
  </ul>
  <p>授業では、AIボットを作って、それをbottleというライブラリでウェブ表示しました。</p>

  <p>これから卒業までに、php、ワードプレスなどを学習予定です。</p>
  <p>この他、エクセルやフォトショップ検定の補講なども行われており、学ぶ意欲がある人には、いろいろな学習機会があります。</p>
  <p>先生方は、とても親切で、楽しく学べるような工夫に満ちています。</p>
  <p>興味が湧いた方は、長崎のハロワまで。親切な職員さん達がいろいろ相談に乗ってくれます。</p>
</main>
{% endblock %}