{% extends 'nagasakiben/post.html' %}


{% block article %}
  <main>
    <h1>{% block meta %}{{ post.title }}{% endblock %}</h1>
    <p>登録日:</p>
    {% if post.published_date %}
      {{ post.published_date }}
    {% endif %}
    <p>{{ post.content|safe }}</p>

    <hr>

    <h2>コメント</h2>  
    {% for comment in post.comments.all %}
      {% if user.is_authenticated or comment.approved_comment %}
        <div class="comment">
          <p><strong>{{ comment.written_by }}</strong>さんからのコメント</p>
          {{ comment.content|linebreaks }}
          <div class="date">{{ comment.published_date }}</div>
        </div>
        <hr class="comment-separator">
      {% endif %}
    {% empty %}
      <p>まだコメントはありません</p>
    {% endfor %}
  </main>
  <aside class="new-comment">
    <a href="{% url 'post_comment' slug=post.slug %}">この記事についてコメントを書く</a>
  </aside>
{% endblock %}